body {
  background-color: #EAF6F6;
}

hr {
  border-style: dotted none  none;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #66BFBF;
  font-size: 100px;
}

h3 {
  color: #66BFBF;
}


/************************TAG SELECTORS********************/


img:hover {
  background-color: black;
}


/************************CLASS SELECTORS********************/

.bacon {
  background-color: red;
}

.broccoli {
  background-color: green;
}

.circular {
  border-radius: 100%;
}

/************************ID SELECTORS********************/

#heading {
  color: blue;
}
